/* You can add global styles to this file, and also import other style files */

$gradient-1: #181861;
$gradient-2: #68a1f2;

$text-color-1: #3e59a6;
$text-color-2: #9195c4;
$text-color-3: #9898a3;
$text-color-4: #171247;

$bg-color-1: #d4e6fe33;
$bg-color-2: #d4e6fe;

$border-color-1: #425fac4d;
$border-color-2: #d4e6fe;
$border-color-3: #e5e2ff;
$border-color-4: #425fac;

html,
body {
  margin: 0 !important;
  padding: 0;
}
